// src/styles/tiptap.scss

.tiptap-editor-container {
    background-color: var(--backgroundColor);
    border: solid 1px var(--borderColor);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &.disabled {
        // opacity: 0.5;
        pointer-events: none;
        filter: grayscale(0.8);
    }

    .editor-toolbar {
        display: flex;
        align-items: center;
        padding: 6px;
        gap: 6px;
        background: var(--backgroundColor);
        border-bottom: solid 1px var(--borderColor);

        button {
            background: transparent;
            border: none;
            color: var(--fontColor);
            padding: 4px 8px;
            border-radius: 4px;
            cursor: pointer;

            &.is-active {
                background: var(--emailBgColor);
            }

            &:hover {
                background: var(--emailBgColor);
            }
        }

        .toolbar-divider {
            width: 1px;
            height: 20px;
            background-color: var(--borderColor);
            margin: 0 4px;
        }

        .color-picker {
            width: 24px;
            height: 24px;
            padding: 0px !important;
            border-radius: 4px !important;
            border: none !important;
            background: none;
            cursor: pointer;

            &::-webkit-color-swatch-wrapper {
                padding: 0px !important;
            }

            &::-webkit-color-swatch {
                // border-radius: 4px;
                border: 1px solid var(--borderColor);
                transform: scale(2);
            }
        }

        .size-select {
            background: var(--backgroundColor);
            color: var(--fontColor);
            border: 1px solid var(--borderColor);
            border-radius: 4px;
            font-size: 12px;
            padding: 2px 4px;
            outline: none;
        }
    }

    .tiptap-content {
        // This wrapper ensures the scrollbar stays inside the rounded borders
        overflow-y: auto;
        background-color: var(--backgroundColor);

        .tiptap {
            padding: 0.5rem 1rem;
            outline: none;
            color: var(--fontColor);
            resize: vertical;
            overflow: auto;
            height: 300px;
            min-height: 300px;
            max-height: 400px;
            overflow-y: auto;

            p {
                margin: 0;
                font-size: inherit;
            }

            span {
                line-height: 1.2;
            }
        }
    }
}