:root,
[data-theme='dark'] {
    --borderColor: rgb(79, 104, 137);
    --backgroundColor: rgb(30, 33, 43);
    --headerBgColor: rgba(30, 33, 43, 0.7);
    --emailBgColor: rgb(36, 41, 55);

    --fontColor: rgb(236, 236, 236);

    --primaryColor: rgb(132, 159, 212);
    --fontOverPrimaryColor: rgb(0, 0, 0);
}

[data-theme='light'] {
    --borderColor: rgb(80, 80, 80);
    --backgroundColor: rgb(210, 210, 210);
    --headerBgColor: rgba(210, 210, 210, 0.7);
    --emailBgColor: rgb(210, 210, 210);

    --fontColor: rgb(0, 0, 0);

    --primaryColor: rgb(70, 120, 220);
    --fontOverPrimaryColor: rgb(244, 244, 244);
}