@use './colors.scss' as *;

#root,
body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    position: relative;

    // HEADER
    .header {
        position: sticky;
        top: 0;
        height: 50px;
        min-height: 50px;
        width: 100%;
        border-bottom: solid 1px var(--borderColor);
        background-color: var(--headerBgColor);
        backdrop-filter: blur(6px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .header-left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;

            .sign-in-button-container {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;

                button {
                    font-size: 1rem;
                    background-color: var(--primaryColor);
                    color: var(--fontOverPrimaryColor);
                    border: none;
                    cursor: pointer;
                    height: 100%;
                    transition: all ease .15s;
                    padding: 0px 2rem;

                    &:hover,
                    &:active {
                        background-color: var(--backgroundColor);
                        color: var(--primaryColor);
                        outline: none;
                    }

                    &.has-token {
                        background-color: var(--backgroundColor);
                        color: var(--primaryColor);

                        &:hover,
                        &:active {
                            background-color: var(--primaryColor);
                            color: var(--fontOverPrimaryColor);
                            outline: none;
                        }
                    }
                }
            }
        }

        .title-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;


            .title {
                font-size: 1.5rem;
                font-weight: 500;
            }
        }

        .header-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
        }
    }

    .content {
        display: flex;
        flex: 2;
        flex-direction: column;
        align-items: center;
        padding: 0rem 0rem 2rem 0rem;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        max-width: 100vw;
        margin: 0;
        gap: 2rem;

        .create-drafts-button {
            background-color: var(--backgroundColor);
            color: var(--fontColor);
            border: solid 2px var(--borderColor);
            padding: 1rem 2rem;
            margin: 2rem;
            border-radius: 4px;
            cursor: pointer;
            font-size: .91rem;
            font-weight: 500;
            transition: all 0.15s ease;

            &:hover,
            &:active {
                background-color: var(--primaryColor);
                color: var(--fontOverPrimaryColor);
                border: solid 2px var(--primaryColor);
            }
        }
    }
}

// custom scrollbar
// scrollbar
::-webkit-scrollbar {
    width: 14px;
    // height: 14px;
}

::-webkit-scrollbar-track {
    background-color: var(--backgroundColor);
    background: var(--backgroundColor);
    border-left: solid 1px var(--borderColor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
    border: solid 4px transparent;
    // border-radius: 20px;
    background-clip: content-box;
}