@use './colors.scss' as *;
@use './styles/tiptap';

#root,
body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    position: relative;

    // HEADER
    .header {
        position: sticky;
        top: 0;
        height: 50px;
        min-height: 50px;
        width: 100%;
        border-bottom: solid 1px var(--borderColor);
        background-color: var(--headerBgColor);
        backdrop-filter: blur(6px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .header-left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
        }

        .title-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;


            .title {
                font-size: 1.5rem;
                font-weight: 500;
            }
        }

        .header-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
        }
    }

    .content {
        display: flex;
        flex: 2;
        flex-direction: column;
        align-items: center;
        padding: 0rem 0rem 2rem 0rem;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        max-width: 100vw;
        margin: 0;
        gap: 2rem;
    }
}

// custom scrollbar
// scrollbar
::-webkit-scrollbar {
    width: 14px;
    // height: 14px;
}

::-webkit-scrollbar-track {
    background-color: var(--backgroundColor);
    background: var(--backgroundColor);
    border-left: solid 1px var(--borderColor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
    border: solid 4px transparent;
    // border-radius: 20px;
    background-clip: content-box;
}