@use './colors.scss' as *;

#root,
body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    position: relative;

    // HEADER
    .header {
        position: sticky;
        top: 0;
        height: 50px;
        min-height: 50px;
        width: 100%;
        border-bottom: solid 1px var(--borderColor);
        background-color: var(--headerBgColor);
        backdrop-filter: blur(6px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .header-left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 100%;
        }

        .title-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;


            .title {
                font-size: 1.5rem;
                font-weight: 500;
            }
        }

        .header-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;

            .theme-switcher-container {
                display: flex;
                padding-right: 10px;

                .theme-switcher-button {
                    background-color: transparent;
                    cursor: pointer;
                    border: 0px;
                    color: var(--fontColor);
                }
            }
        }
    }

    .content {
        display: flex;
        flex: 2;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0rem;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        max-width: 100vw;
        margin: 0;

        // SIGN IN BUTTON
        .sign-in-button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            height: 100%;

            button {
                font-size: 1rem;
                padding: 0.75rem 1.25rem;
                border-radius: 4px;
                background-color: var(--backgroundColor);
                color: var(--color);
                outline: none;
                border: solid 2px var(--borderColor);
                cursor: pointer;
                transition: all ease .15s;

                &:hover,
                &:active {
                    background-color: var(--primaryColor);
                    color: var(--fontOverPrimaryColor);
                    outline: none;
                    border: solid 2px var(--primaryColor);
                }
            }
        }

        // DROPZONE
        .dropzone-container {
            display: flex;
            padding: 1rem 0px;

            .dropzone {
                border: 2px dashed var(--primaryColor);
                border-radius: 8px;
                padding: 30px;
                width: 500px;
                max-width: 80vw;
                height: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .dropzone-text {
                    font-size: 1.5rem;
                    font-weight: 500;
                }

                .dropzone-subtext {
                    font-size: 1rem;
                    opacity: .5;
                    font-style: italic;
                    padding: 0.5rem;
                }

                .dropzone-input-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    .dropzone-button {
                        background-color: var(--backgroundColor);
                        color: var(--fontColor);
                        border: solid 2px var(--borderColor);
                        padding: 0.6rem 1.2rem;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: .91rem;
                        font-weight: 500;
                        transition: all 0.15s ease;

                        &:hover,
                        &:active {
                            background-color: var(--primaryColor);
                            color: var(--fontOverPrimaryColor);
                            border: solid 2px var(--primaryColor);
                        }
                    }
                }
            }
        }

        .emails-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            width: 100%;
            padding: 1rem;

            .email-container {
                display: flex;
                flex-direction: column;
                padding: 1rem 2rem;
                background-color: var(--emailBgColor);
                border: solid 1px var(--borderColor);
                border-radius: 8px;
                gap: 8px;
                width: 100%;
                max-width: 500px;

                input,
                textarea {
                    background-color: var(--backgroundColor);
                    color: var(--fontColor);
                    padding: 0.5rem 1rem;
                    border: solid 1px var(--borderColor);
                    border-radius: 8px;
                }

                textarea {
                    height: 100px;
                    min-height: 50px;
                }
            }
        }

        .create-drafts-button {
            background-color: var(--backgroundColor);
            color: var(--fontColor);
            border: solid 2px var(--borderColor);
            padding: 0.6rem 1.2rem;
            margin: 2rem;
            border-radius: 4px;
            cursor: pointer;
            font-size: .91rem;
            font-weight: 500;
            transition: all 0.15s ease;

            &:hover,
            &:active {
                background-color: var(--primaryColor);
                color: var(--fontOverPrimaryColor);
                border: solid 2px var(--primaryColor);
            }
        }
    }
}

// custom scrollbar
// scrollbar
::-webkit-scrollbar {
    width: 14px;
    // height: 14px;
}

::-webkit-scrollbar-track {
    background-color: var(--backgroundColor);
    background: var(--backgroundColor);
    border-left: solid 1px var(--borderColor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primaryColor);
    border: solid 4px transparent;
    // border-radius: 20px;
    background-clip: content-box;
}